@charset "UTF-8";
.back-to-home-btn {
  float: right;
}

.step-progress-bar {
  background-color: var(--bodybackground);
  position: relative;
  z-index: 9;
  margin-top: 0px;
}

.step-progress-bar .multi-steps > li.is-active:before,
.step-progress-bar .multi-steps > li.is-active ~ li:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 700;
}

.step-progress-bar .multi-steps > li.is-active:after,
.step-progress-bar .multi-steps > li.is-active ~ li:after {
  background-color: #ededed;
}

.step-progress-bar .multi-steps {
  display: table;
  table-layout: fixed;
  /* width: 100%; */
  width: 102%;
}

.step-progress-bar .multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: #095280;
  font-size: 12px;
}

.step-progress-bar .multi-steps > li a {
  color: #095280;
}

.step-progress-bar .multi-steps > li a:hover {
  color: #095280;
}

.step-progress-bar .multi-steps > li a section {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-left: calc(50% - 17px);
  position: absolute;
  top: 0;
}

.step-progress-bar .multi-steps > li:before {
  content: "\f00c";
  content: "✓;";
  content: "𐀃";
  content: "𐀄";
  content: "✓";
  display: block;
  margin: 0 auto 4px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: #095280;
  border-radius: 50%;
}

.step-progress-bar .multi-steps > li:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #095280;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
}

.step-progress-bar .multi-steps > li:last-child:after {
  display: none;
}

/*.multi-steps > li.is-active:before {
  background-color: #fff;
  border-color: #095280;
}
.multi-steps > li.is-active ~ li {
  color: #808080;
}
.multi-steps > li.is-active ~ li:before {
  background-color: #ededed;
  border-color: #ededed;
}
*/
.step-progress-bar .multi-steps li.is-active {
  font-weight: 800;
}

.step-progress-bar .multi-steps > li.is-active ~ li {
  color: #808080;
}

.step-progress-bar .multi-steps > li.is-active ~ li:before {
  background-color: #ededed;
  border-color: #ededed;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(1):before,
.step-progress-bar .multi-steps > li:nth-child(1):before {
  background-color: #e53935;
  border-color: #e53935;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(2):before,
.step-progress-bar .multi-steps > li:nth-child(2):before {
  background-color: #fed835;
  border-color: #fed835;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(3):before,
.step-progress-bar .multi-steps > li:nth-child(3):before {
  background-color: #7db343;
  border-color: #7db343;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(4):before,
.step-progress-bar .multi-steps > li:nth-child(4):before {
  background-color: #f5511e;
  border-color: #f5511e;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(5):before,
.step-progress-bar .multi-steps > li:nth-child(5):before {
  background-color: #01897b;
  border-color: #01897b;
  color: #fff;
}

.backtest-report-sec #button-2 {
  float: right;
}

/* .backtest-report-sec {
  margin-bottom: 90px;
} */
@media (max-width: 767px) {
  .backtest-report-sec #button-1 {
    float: none !important;
  }

  .backtest-report-sec #button-2 {
    float: none !important;
    margin-top: 30px !important;
  }
}