body {
  display: none;
}

/* ############****############ */
.form-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.24rem;
}

/* ############****############ */
#gauge-container1, #gauge-container2, #gauge-container3, #gauge-container4 {
  width: 280px;
  text-align: center;
  margin: 0 auto 30px auto;
}

.k-content {
  margin: 0 auto 30px auto;
}

.k-arcgauge-center-label {
  position: absolute;
  text-align: center;
  padding: 0;
  margin: 0;
}

.k-arcgauge-center-label {
  font-size: 30px;
}

/*-- Time Bar --*/
.slidecontainer {
  width: 70% !important;
  margin: 0 1em;
  font-weight: 900;
  font-size: 18px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s !important;
  transition: opacity 0.2s !important;
}

.slider:hover {
  opacity: 0.9;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 30px;
  background: #fff;
  border: 2px solid #095280;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  border: 2px solid #095280;
  cursor: pointer;
}

/*-- Time Bar --*/
/*-- Sticky Right Nav --*/
#mySidenav a {
  position: fixed;
  right: -210px;
  transition: 0.3s;
  padding: 5px;
  width: 250px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  right: 0;
}

#mySidenav img {
  float: left;
  width: 25px;
  padding-top: 7px;
}

#btn1 {
  top: 20px;
  background: #095280;
  border: 1px solid #fff;
}

#btn2 {
  top: 68px;
  background: #095280;
  border: 1px solid #fff;
}

#btn3 {
  top: 116px;
  background: #095280;
  border: 1px solid #fff;
}

#btn4 {
  top: 164px;
  background: #095280;
  border: 1px solid #fff;
}

#btn5 {
  top: 212px;
  background: #095280;
  border: 1px solid #fff;
}

.gips-btn {
  margin: 0.25em 0;
  color: #fff;
  border: none;
  text-align: left;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  text-transform: capitalize;
  background: #095280;
}

#risk-management-apply-smart-text {
  font-weight: 600;
  display: inline-block;
  margin: 0 0 0 20px;
}

.checkbox-slider {
  display: inline-block;
  top: 14px;
  margin-left: 0px;
}

label.checkbox-toggle-label span.on {
  top: 8px;
  right: 56px;
}

label.checkbox-toggle-label span.off {
  top: 8px;
  right: 42px;
}

.gray-filter {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.heading-section h2 {
  width: 80%;
  float: left;
}

.ips-req-tag-sec {
  font-family: "Open Sans", sans-serif;
  background: #fd1015;
  color: #fff;
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
  float: right;
  font-weight: 700;
}

.ips-info-tag-sec {
  font-family: "Open Sans", sans-serif;
  background: #083f62;
  color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: left;
  margin-top: 20px;
  float: right;
}

.ips-opt-tag-sec {
  font-family: "Open Sans", sans-serif;
  background: #f5511e;
  color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: left;
  margin-top: 20px;
  float: right;
}

.ips-clear {
  clear: both;
}

input.checkbox-toggle:checked + label.checkbox-toggle-label:after {
  opacity: 1;
  transform: translateX(80px);
  background: #4b9032;
}

input.checkbox-toggle:checked + label.checkbox-toggle-label:before {
  background: #62b046;
}

input.checkbox-toggle:checked + label.checkbox-toggle-label span.on {
  color: #fff;
}

.mrm-tm {
  margin-top: 0em;
}

.msm-ds {
  display: none;
}

.ips-sc-bm > b {
  color: var(--bodycolor);
  font-weight: 600;
}

@media (max-width: 992px) {
  .ips-sc-bm {
    margin-bottom: 30px;
  }

  .msm-dh {
    display: none;
  }

  .msm-ds {
    display: block;
  }

  .mrm-tm {
    margin-top: 0em;
  }

  .hs-form-c8d92ea8-413f-4419-bda1-e43f2c2cba8b_a496fd1e-7ac5-4704-99ec-d1b637bc1bae .hs-submit > .actions {
    text-align: left !important;
  }
}
/*-- Top Header CSS Start --*/
.gth-sec {
  background: #f4f4f4;
  padding: 12px 0;
}

.gth-sec a {
  color: var(--heading-section-h2);
  font-size: 13px;
}

.gth-sec .gth-rght {
  text-align: right;
}

.gth-sec .gth-space {
  padding-left: 15px;
}

.header-box h1 {
  margin-top: 10px;
  color: #1979bd;
  text-align: right;
}

.m-tp {
  margin-top: 3em;
  margin-left: 0em;
  text-align: right;
}

/* .header-box {
  padding-top: 144px;
  padding-bottom: 151px;
} */
.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(1):before, .step-progress-bar .multi-steps > li:nth-child(1):before {
  background-color: #ed2e36;
  border-color: #ed2e36;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(2):before, .step-progress-bar .multi-steps > li:nth-child(2):before {
  background-color: #faa91f;
  border-color: #faa91f;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(3):before, .step-progress-bar .multi-steps > li:nth-child(3):before {
  background-color: #61af46;
  border-color: #61af46;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(4):before, .step-progress-bar .multi-steps > li:nth-child(4):before {
  background-color: #f16726;
  border-color: #f16726;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(5):before, .step-progress-bar .multi-steps > li:nth-child(5):before {
  background-color: #de3a94;
  border-color: #de3a94;
  color: #fff;
}

.step-progress-bar .multi-steps > li {
  color: #1979bd;
}

.heading-section h2 strong {
  color: #305DA8;
  font-weight: 700;
}

button, button:hover {
  background: #305DA8;
}

.scroll {
  background: #1979bd !important;
}

.scroll .fa {
  color: #fff !important;
}

.investment-restrictions-box .form-group label:before, .monitoring-box .form-group label:before, .risk-management-box .form-group label:before {
  border: 2px solid #1979bd;
}

.investment-restrictions-box .form-group input:checked + label:after, .monitoring-box .form-group input:checked + label:after, .risk-management-box .form-group input:checked + label:after {
  border: solid #1979bd;
  border-width: 0 2px 2px 0;
}

.f-g input, .f-g select {
  margin-bottom: 0px !important;
}

@media (max-width: 991px) {
  .m-tp {
    margin-top: 3em;
    margin-left: 0;
  }

  .header-box h1, .m-tp {
    text-align: left;
  }
}
@media (max-width: 767px) {
  #mySidenav {
    display: none;
  }

  .gth-rght {
    text-align: left !important;
  }
}
@media only screen and (max-width: 400px) {
  .gth-sec a {
    display: block;
  }

  .gth-sec .gth-space {
    padding: 10px 0 8px 0;
  }
}
@media (max-width: 480px) {
  .step-progress-bar .multi-steps {
    padding-left: 0;
    padding-right: 0;
  }

  .step-progress-bar .multi-steps > li:after {
    content: none;
  }

  .step-progress-bar .multi-steps > li {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }
}
/*-- Sticky Right Nav --*/
/* -- bottom Button Section --*/
.hide-on-desktop {
  display: none;
}

@media only screen and (max-width: 992px) {
  .hide-on-mobile {
    display: none;
  }

  .hide-on-desktop {
    display: block;
    text-align: left;
  }

  .backtest-report-sec #button-2 {
    float: none;
    background: #e43834 !important;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: initial;
    padding: 20px 40px;
  }

  .backtest-report-sec #button-1 {
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
    color: #fff;
    background: #1979bd !important;
    font-weight: 700;
    font-size: 18px;
    text-transform: initial;
  }

  button .fa-forward {
    margin-left: 0px;
    top: 0px;
    position: relative;
    left: 15px;
  }
}
@media only screen and (max-width: 360px) {
  .backtest-report-sec #button-2 {
    width: 85%;
  }

  button .fa-forward {
    left: 5px;
  }
}
select {
  background-color: var(--bodybackground-panel2);
  word-wrap: normal;
  border: 2px solid #b1b1b1;
  color: #b1b1b1;
  border-top: 2px solid #b1b1b1 !important;
  padding: 10px;
}

body {
  color: var(--bodycolor) !important;
  font-size: 18px !important;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1320px !important;
  }
}
/* @media screen and (min-width:1200px) {
                            .header-parentRow {
                            display: block;
                        }
                        } */
@media screen and (min-width: 400px) and (max-width: 650px) {
  #with-ao {
    /* margin-left: 80px !important; */
    margin-top: 20px !important;
  }
}
@media screen and (min-width: 994px) {
  #button-3 {
    margin-left: 16rem;
    width: 174px;
  }
}
@media screen and (min-width: 980px) {
  #button-2 {
    margin-left: -1rem;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .img-responsive {
    width: 100%;
  }
}
@media screen and (min-width: 350px) and (max-width: 850px) {
  .foter {
    margin-left: -30px;
  }
}