body {
  display: none;
}

#gauge-container1,
#gauge-container2,
#gauge-container3,
#gauge-container4 {
  width: 280px;
  text-align: center;
  margin: 0 auto 30px auto;
}

.k-content {
  margin: 0 auto 30px auto;
}

.k-arcgauge-center-label {
  position: absolute;
  text-align: center;
  padding: 0;
  margin: 0;
}

.k-arcgauge-center-label {
  font-size: 30px;
}

/*-- Time Bar --*/
.slidecontainer {
  width: 70% !important;
  margin: 0 1em;
  font-weight: 900;
  font-size: 18px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s !important;
  transition: opacity 0.2s !important;
}

.slider:hover {
  opacity: 0.9;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 30px;
  background: #fff;
  border: 2px solid #1979bd;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  border: 2px solid #1979bd;
  cursor: pointer;
}

/*-- Time Bar --*/
/*-- Sticky Right Nav --*/
#mySidenav a {
  position: fixed;
  right: -210px;
  transition: 0.3s;
  padding: 5px;
  width: 250px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  right: 0;
}

#mySidenav img {
  float: left;
  width: 25px;
  padding-top: 7px;
}

#btn1 {
  top: 20px;
  background: #305dab;
  border: 1px solid #fff;
}

#btn2 {
  top: 68px;
  background: #305dab;
  border: 1px solid #fff;
}

#btn3 {
  top: 116px;
  background: #305dab;
  border: 1px solid #fff;
}

#btn4 {
  top: 164px;
  background: #095280;
  border: 1px solid #fff;
}

#btn5 {
  top: 212px;
  background: #095280;
  border: 1px solid #fff;
}

.gips-btn {
  margin: 0.25em 0;
  color: #fff;
  border: none;
  text-align: left;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  text-transform: capitalize;
  background: #1979bd;
}

.k-tooltip {
  background-color: var(--bodybackground-panel2) !important;
}

#apply-smart-rebalancing-remove-text,
#apply-smart-text,
#apply-smart-reopt-remove-text {
  font-weight: 600;
  display: inline-block;
  margin: 0 0 0 20px;
}

.checkbox-slider {
  display: inline-block;
  /* top: 14px; */
  margin-left: 0px;
}

label.checkbox-toggle-label span.on {
  top: 8px;
  /* left: 24px; */
  right: 56px;
}

label.checkbox-toggle-label span.off {
  top: 8px;
  right: 42px;
  /* left: 24px; */
}

.gray-filter {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.heading-section h2 {
  width: 70%;
  float: left;
  font-size: 18px;
}

.ips-req-tag-sec {
  font-family: "Open Sans", sans-serif;
  background: #FD1015;
  color: #fff;
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
  float: right;
  font-weight: 700;
}

.ips-info-tag-sec {
  font-family: "Open Sans", sans-serif;
  background: #305dab;
  color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: left;
  margin-top: 20px;
  float: right;
}

.ips-opt-tag-sec {
  font-family: "Open Sans", sans-serif;
  background: #FD1015;
  color: #fff;
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
  float: right;
  font-weight: 700;
}

.ips-clear {
  clear: both;
}

input.checkbox-toggle:checked + label.checkbox-toggle-label:after {
  opacity: 1;
  transform: translateX(80px);
  background: #1979bd;
}

input.checkbox-toggle:checked + label.checkbox-toggle-label:before {
  background: #159fd3;
}

input.checkbox-toggle:checked + label.checkbox-toggle-label span.on {
  color: #fff;
}

/*-- Top Header CSS Start --*/
.gth-sec {
  background: #f4f4f4;
  padding: 12px 0;
}

.gth-sec a {
  color: var(--heading-section-h2);
  font-size: 13px;
}

.gth-sec .gth-rght {
  text-align: right;
}

.gth-sec .gth-space {
  padding-left: 15px;
}

.header-box h1 {
  margin-top: 10px;
  color: #305dab;
  text-align: left !important;
}

.m-tp {
  margin-top: 3em;
  margin-left: 0em;
  text-align: left;
}

.step-progress-bar .multi-steps > li {
  color: #305dab;
}

.header-box {
  padding-top: 30px;
  padding-bottom: 190px;
  text-align: left;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(1):before,
.step-progress-bar .multi-steps > li:nth-child(1):before {
  background-color: #ed2e36;
  border-color: #ed2e36;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(2):before,
.step-progress-bar .multi-steps > li:nth-child(2):before {
  background-color: #faa91f;
  border-color: #faa91f;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(3):before,
.step-progress-bar .multi-steps > li:nth-child(3):before {
  background-color: #61af46;
  border-color: #61af46;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(4):before,
.step-progress-bar .multi-steps > li:nth-child(4):before {
  background-color: #f16726;
  border-color: #f16726;
  color: #fff;
}

.step-progress-bar .multi-steps > li.is-active ~ li:nth-child(5):before,
.step-progress-bar .multi-steps > li:nth-child(5):before {
  background-color: #de3a94;
  border-color: #de3a94;
  color: #fff;
}

.heading-section h2 strong {
  color: #305dab;
}

button,
button:hover {
  background: #305dab;
  height: 280px;
}

label.checkbox-toggle-label:after {
  background: #1979bd;
}

.selected {
  background-color: #FD1015 !important;
}

.scroll {
  background: #1979bd !important;
}

.scroll .fa {
  color: #fff !important;
}

@media (max-width: 991px) {
  .m-tp {
    margin-top: 3em;
    margin-left: 0;
    text-align: left;
  }

  .header-box h1 {
    text-align: left;
  }
}
@media (max-width: 767px) {
  #mySidenav {
    display: none;
  }

  .gth-rght {
    text-align: left !important;
  }
}
@media only screen and (max-width: 400px) {
  .gth-sec a {
    display: block;
  }

  .gth-sec .gth-space {
    padding: 10px 0 8px 0;
  }
}
@media (max-width: 480px) {
  .step-progress-bar .multi-steps {
    padding-left: 0;
    padding-right: 0;
  }

  .step-progress-bar .multi-steps > li:after {
    content: none;
  }

  .step-progress-bar .multi-steps > li {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* -- bottom Button Section --*/
.hide-on-desktop {
  display: none;
}

@media only screen and (max-width: 992px) {
  .hide-on-mobile {
    display: none;
  }

  .hide-on-desktop {
    display: block;
    text-align: left;
  }

  .backtest-report-sec #button-2 {
    float: none;
    background: #e43834 !important;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: initial;
    padding: 20px 25px;
  }

  .backtest-report-sec #button-1 {
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
    color: #1979bd;
    background: transparent !important;
    font-weight: 700;
    font-size: 18px;
    text-transform: initial;
  }

  button .fa-forward {
    margin-left: 0px;
    top: -10px;
    position: relative;
    left: 15px;
  }
}
/* -- bottom Button Section --*/
.header-box h1 {
  text-align: left;
}

.f-g input,
.f-g select {
  background-color: var(--bodybackground-panel2);
  width: 71%;
  margin-top: 80px;
  padding-left: 30px;
}

.f-g {
  width: 51% !important;
}

/* .col-md-3 {
    width: 20%; */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.logo {
  align-items: center;
  max-width: 100%;
  height: auto;
  padding-top: 50px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container p {
  margin: 0;
  padding-left: 10px;
  /* Add padding for better spacing */
}

@media screen and (min-width: 400px) and (max-width: 650px) {
  .col-md-3 {
    width: 75%;
  }
}
@media screen and (min-width: 350px) and (max-width: 420px) {
  .ftr-sm, .gtr {
    margin-left: -25px;
  }
}
assetListing ta-btn .PK2 {
  margin-top: -90px;
}

body {
  color: var(--bodycolor) !important;
  font-size: 18px !important;
}

h3 {
  color: var(--bodycolor) !important;
  font-size: 30px !important;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1320px !important;
  }
}
@media screen and (min-width: 340px) and (max-width: 400) {
  .Apply-smartss {
    margin-right: -78px !important;
    width: 200px !important;
  }
}
@media screen and (min-width: 1200px) {
  .header-parentRow {
    display: block;
  }
}
@media screen and (min-width: 400px) and (max-width: 650px) {
  #with-ao {
    /* margin-left: 80px !important; */
    margin-top: 20px !important;
  }
}
@media screen and (min-width: 340px) and (max-width: 950px) {
  .col-md-3 {
    width: auto;
    margin-bottom: 20px !important;
  }
}
@media screen and (min-width: 992px) {
  .col-md-3 {
    width: 20% !important;
  }
}
@media screen and (min-width: 992px) {
  .image {
    width: 130%;
    margin-top: -12px;
  }
}
@media screen and (min-width: 350px) and (max-width: 990px) {
  .image {
    width: 100%;
  }
}
#myBtnContainer > p {
  color: #fff;
  background-color: #1979bd;
  margin-bottom: 50px;
}